.navBar {
  /* width: 23; */
  min-width:23%;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  box-sizing: border-box;
  border-right: 1px solid rgba(255, 255, 255, 0.198);
  font-size: 1.3em;
  background-color: black;
  z-index: 9;
}

.logoContainer {
  margin-top: 50px;
  margin-bottom: 35px;
  display: flex;
  place-content: center;
  padding-left: 10px;
}
.logoImg {
  width: 100px;
}

.navItemLink {
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 600;
}

.navItem {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

.navItem:hover {
  background-color: rgba(80, 76, 76, 0.427);
}

.navIconContainer {
  width: 30px;
  margin-right: 20px;
  border-radius: 100%;
}

.navIcon {
  width: 100%;
  border-radius: 100%;
}

.logoImg2 {
  width: 40px;
  display: none;
}

@media screen and (max-width: 870px) {
  .linkNameContainer {
    display: none;
  }

  .navBar {
    min-width: 10%;
    padding: 0;
  }

  .navItem {
    justify-content: center;
  }

  .navIconContainer {
    width: 30px;
    margin-right: 0;
  }

  .logoImg {
    display: none;
  }

  .logoImg2 {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    left: 0;
    top: 90%;
  }

  .logoContainer {
    display: none;
  }
}