html * {
  line-height: 1.625;
  color: white;
  font-family: 'Segoe UI';
  padding: 0;
  margin: 0;
  user-select: none;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  
}
  
/* Track */
::-webkit-scrollbar-track {
  background:  #41404077;;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
 
/* HEADER STYLEE */

.appLoader {
  width: 100px;
  position: relative;
  top: auto;
  left: auto;
  right: auto;

}